.product__page {
    &::before {
        @media (min-width: 992px) {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            width: 40%;
            height: 100%;
            background-color: #f7f7fc;
            z-index: -1;
        }

    }

    .product__Img_preview {
        img {
            width: 400px;
            max-height: 400px;
        }
    }

    .btn-social {
        font-size: 1.5rem;
    }

    .Product__info {
        background-color: #f7f7fc !important;

        .Product__Title {
            color: #333;
        }
    }
}