$themes: (blue-theme:(color: $blue),
    green-theme:(color: $green),
    red-theme:(color: $red),
    orange-theme:(color: $orange),
    purple-theme:(color: $purple));

@each $theme,
$map in $themes {
    .#{$theme} {
        $color: map-get($map, color);


        // background-color
        .owl-carousel .owl-nav button:after,
        .owl-carousel .owl-nav button:before {
            background-color: $color;
        }


        // border-color


        // color
        a:hover {
            color: $color
        }

    }
}